
{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <h2 class="display-4 text-primary mb-4">🚀 Welcome to Version 1.0.0 🚀</h2>
            <hr class="my-4">
            <p class="lead">Hey there! We're not just a team; we're a squad of enthusiasts dedicated to making a positive impact on society.</p>
            <hr class="my-4">
            <h3 class="mb-3">Meet Our Awesome Creators:</h3>
            <ul class="list-unstyled">
                <li><h4>Swer</h4></li>
                <li><h4>Akshaj</h4></li>
                <li><h4>Midun</h4></li>
            </ul>
            <hr class="my-4">
            <p class="text-muted">Thank you for dropping by our website. Together, let's build a better world!</p>
        </div>
    </div>
</div>

{% endblock %}
