{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2 class="text-center mb-4">VERSION 1.0.0</h2>
            <hr>
            <h2 class="text-center mb-4">CONTACT US</h2>
            <ul class="list-unstyled">
                <li class="td">For any queries regarding this website, feel free to contact us:</li>
                <li class="td">Email: <a href="mailto:hehehe@gmail.com">hehehe@gmail.com</a></li>
                <li class="td">Twitter: <a href="https://twitter.com/audio2sl" target="_blank">@audio2sl</a></li>
                <li class="td">Phone: 949-691-5574</li>
            </ul>
            <hr>
            <p class="text-center td">Thank you for visiting our website!</p>
        </div>
    </div>
</div>
{% endblock %}
